html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    
}
#section1 {
    background-image: url(1.jpg);
    height: 800px;
    display: inline-block;
    width: 100%;  
}

#sub-section1{
    margin-top: 10%;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
}
#sub-section2{
    margin-top: 5%;
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    display: grid;
    
    float: left;
}
#section2{
    background: rgb(240, 66, 95);
    height: 400px;
    display: inline-block;
    width: 90%; 
    margin: 0 65px 0 65px;
    padding: ;
    
}

#sub-section3 {
    margin-top: 8%;
    text-align: center;
}

#box{
    display: grid;
    grid-template-columns: repeat(50px, 3fr);
}