html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    
}
#section1 {
    background-image: url(1.jpg);
    height: 800px;
    display: inline-block;
    width: 90%; 
    margin: 0 65px 0 65px;
    margin-top: 3px;
}

#sub-section1{
    margin-top: 10%;
    text-align: center;
    font-size: x-large;
    font-family:cursive;
    color: white;
    
}


#sub-section2{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50px 50px ;
    grid-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
    color: white;
    text-align: center;
}
#section2{
    background: rgb(240, 91, 116);
    height: 600px;
    display: inline-block;
    width: 90%; 
    margin: 0 65px 0 65px;
    margin-top: 3px;
}
div #sub-section3 {
   /* display: grid; */
    padding-top: 50px;
    padding-bottom: 50px;
}
#sub-section3 { 
    text-align: center;
}
#sub-section3 h4{
    padding-top: 5%;
    color: white;
    font-family: sans-serif;
    font-weight: 100px;
    font-size: 34px;
}
#sub-section3 P{
    padding-bottom: 8%;
    color: white;
    font-family: sans-serif;
    font-weight: 10px;
    font-size: 13px;
}
hr{
    width: 70%;
    margin-top: 10px;
}

#box{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px ;
    grid-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#box p{
    font-size: 13px;
    font-weight: 10px;
    color: white;
   }
   #box h4{
       color: white;
   }

   #box h4 mark{
       color: rgb(148, 133, 133);
   }

#section3{
    background: rgb(125, 145, 226);
    height: 450px;
    display: inline-block;
    width: 90%; 
    margin: 0 65px 0 65px;
    margin-top: 3px;
}   
#box2{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50px 50px ;
    grid-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
#box2 p{
    font-size: 13px;
    font-weight: 10px;
    color: white;
   }
   #box2 h2{
       color: white;
       padding-top: 20%;
   }

   #box2 h2 mark{
    color: rgb(148, 133, 133);
}


#section4{
    background: rgb(235, 89, 121);
    height: 400px;
    display: inline-block;
    width: 90%; 
    margin: 0 65px 0 65px;
    margin-top: 3px;
}



 #box3 { 
     text-align: center;
     padding: 50px 100px 50px 100px ;
 }
 #box3 h2{
     padding-top: 5%;
     color: white;
     font-family: sans-serif;
     font-weight: 100px;
     font-size: 34px;
 }
 #box3 P{
     padding-bottom: 2%;
     padding-right: 10%;
     padding-left: 10%;
     color: white;
     font-family: sans-serif;
     font-weight: 3px;
     font-size: 12px;
 }
 #line2{
     width: 90%;
     margin-top: 5px;
 }

 #section5{
    height: 450px;
    display: inline-block;
    width: 90%; 
    margin: 0 65px 0 65px;
    margin-top: 0px;
}   
#box4{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 40px 40px ;
    grid-gap: 1px;
    
    margin-top: 3px;
    
    /* padding-right: 100px; */