*{
    margin: 0;
    padding: 0;
}
.section img {
    height: 90px;
}
.section #header button{
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    padding: 8px 20px;
    border-radius:8px ;
    font-size: 18px;
    font-family:sans-serif ;
    color: white;
}
body{
    background: url(/netflex/netflix-background-9.jpg);
    background-color: rgb(83, 81, 81);
    background-blend-mode:darken;
}

.section h1{
    color: white;
    text-align: center;
    margin-top: 80px ;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serifs;
    font-weight: 550;
}
.section h3{
    color: white;
    text-align: center;
    margin-top:10px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serifs;
}
.section p{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom:15px ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serifs;
}
.section input{
    margin-left: 27em;
    padding: 20px 10em;
    border-radius: 3px;
}

.section button {
    margin-left: -4px;
    padding: 20px 5em;
    border-radius: 3px;
    background: rgb(218, 30, 30);
}
